@model DiyaPM.UI.Models.Role
@{
    ViewBag.Title = "Rol Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">ROL DÜZENLE</h5>
                @Html.HiddenFor(model => model.id, new { id = "hdnRoleId" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "txtRole", placeholder = Html.DisplayNameFor(x => x.Name) }) <br />
                <input type="submit" onclick="UpdateRole();" class="btn btn-success form-control" value="Güncelle" />
                <br /><br /><a href="/Admin/AddRole"><input type="button" class="btn btn-secondary form-control" value="İptal" /></a>
            </div>
        </div>
    </div>
</div>
