@using GridMvc.Html
@model DiyaPM.UI.Models.ViewModels.UsersInRolesViewModel
@{
    ViewBag.Title = "Rollere Kullanıcı Atama";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<div class="row"> 
    <div class="col-lg-4">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">rol seçiniz</h5>
                @Html.DropDownListFor(M => M.Roles, new SelectList(Model.Roles, "id", "Name"), "--- Rol Seçiniz ---", new { id = "ddl_Roles", @class = "form-control", onchange= "GetUsersInRoles();" }) <br />
                <h5 class="card-title">Kullanıcı seçiniz</h5>
                @Html.DropDownListFor(M => M.Users, new SelectList(Model.Users, "id", "Username"), new { id = "ddl_Users", @class = "form-control" }) <br />
                <input type="submit" onclick="UsersInRoles();" class="btn btn-success form-control" value="Ekle" /> <br /> <br />
                <h5 class="card-title">Role tanımlanmış KULLANICILAR</h5> 

                <table id="tbl_Users" class="mb-0 table table-striped" style="width:100%">
                    <thead>
                        <tr> 
                            <th style="display:none">id</th> 
                            <th>Kullanıcı Adı</th> 
                            <th></th> 
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div> 