@using DiyaPM.UI.Helpers;
@using DiyaPM.UI.Models.ViewModels
@model MenuViewModel
 
@foreach (var item in Model.Menus)
{
<li>
    <a href="#">
        <i class="metismenu-icon fa fa-@item.IconName"></i>
        @item.MenuName

        @if (Model.SubMenus.Any(x => x.ParentID == item.id))
        {
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
        }

    </a>
    @foreach (var subMenu in Model.SubMenus.Where(x => x.ParentID == item.id))
    {
        <ul>
            <li id="@subMenu.Code">
                @if (subMenu.Action == "#")
                {
                    <a href="#">
                        <i class="metismenu-icon"></i>
                        @subMenu.MenuName
                    </a> 
                }
                else
                {
                    <a href="/@subMenu.Controller/@subMenu.Action">
                        <i class="metismenu-icon"></i>
                        @subMenu.MenuName
                    </a>
                }

            </li>
        </ul>
    }
</li>
}
